.miners {
    .miners-history-title {
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 16px */
    }
}

.miner-history {
    table {
        width: 717px;
    }
}